.component {
    align-items: center;
    color: #000;
}

.wrapper {
    display: flex;
    justify-content: center;
    background-color: #F5F5F7
}

.wrapper-checkout {
    margin: 74px 24px 0 24px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.checkout-input {
    padding-left: 16px;
    height: 54px;
    background: #EDEDF066;
    border: none;
    outline: none;
}

.checkout-input:nth-child(2) {
    margin-top: 8px;
}

.checkout-input-comment {
    margin-top: 8px;
    border: none;
    outline: none;
    min-height: 100px;
    background-color: #F7F7F8;
    padding-top: 10px;
    padding-left: 5px;
}

.checked-container{
    height: 30px;
    margin-top: 64px;
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    color: #A7A7AB;
}

label .checkout-input-checked {
    display: none; 
  }

[type=checkbox]:checked + .checkout-input-checked-text:before {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: black;
    content: '\2714';
    position: absolute;
    left: 25px;
    color: white !important;
  }

.checkout-input-checked-text:before {
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #F7F7F8;
    content: '';
    position: absolute;
    left: 25px;
}

.checkout-input-checked-text {
    height: 30px;
    margin-left: 30px;
    font-size: 13px;
    color: #A7A7AB;
}

.checkout-input-comment-text {
    margin-top: 16px;
    font-size: 13px;
    color: #A7A7AB;
}

.checkout-button {
    color: white;
    margin-top: 36px;
    background: black;
    height: 48px;
    width: 100%;
}

.not-checkout-button {
    background: #C1C1C4;
    color: white;
    margin-top: 36px;
    height: 48px;
    width: 100%;
    margin-top: 36px;
}
