.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-j-center {
    display: flex;
    justify-content: center;
}
.flex-a-center {
    display: flex;
    align-items: center;
}

ion-header {
    background-color: black;
}

ion-toggle {
    --background: #E5E5EA;
}

ion-back-button{
    --color: white !important;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0;
    background-color: black;
    --background: black;
}
ion-toolbar {
    --background: black;
}

.width100 {
    width: 100%;
}

.ion-color-light {
    --ion-color-base: #f4f5f8 !important;
}

::slotted(ion-label) {
    margin-left: unset;
    margin-right: unset;
    margin-inline: 0px 8px;
    margin-top: 0;
}
